<html>
<head>
</head>
<body style="text-align:center" font-color="red">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
        <form onsubmit="orderCans()">
                &nbsp;
                &nbsp;
                <h1>Order Cans</h1>
                <a href = "availability.jsp">Availability Stock</a><br>
                <br /> How many cans you want to order?
               <input type="number" name="orderCans" id="orderCans" placeholder="Enter no.of cans" min=1 pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" required autofocus /><br> <br />
               <input type="submit" value="Submit" class="btn btn-success" (click)="orderCans()"> &nbsp;
               <input type="button" value="Reset" class="btn btn-danger" > &nbsp;
               <input type="button" class="button" value="Back" class="btn btn-primary" onclick="history.go(-1);"> 
        </form>
</div>
</div>
</div>
</body>
</html>      

