        <body style="text-align:center">
            <div id="users-section">
                <table border="1" class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>StockId</th>
                            <th>Updated Cans</th>
                
                        </tr>
                    </thead>
                    <tbody id="tbl">
                    </tbody>
                </table>
            </div>
        <table align="center">
        <tr>
               <td>
               <div class="wrapper">
                <input type="button" class ="button" value="Update" onclick="myfunction();">
                <input type="button" class ="button" value="Back" onclick="history.go(-1);">
               </div>
               </td>
               </tr>
               </table>
        
        
        