<div id="id"></div>
<body style="text-align:center" font-color="red">
<form (submit)="reserveCans()" ngNativeValidate>
        &nbsp; 
<h1>Reserve Cans</h1><br>
<a href='viewstock'>View Available Stock</a><br>
Enter Number Of Cans to reserve:
<input type = "number" min="1" name = "reserveCans" [(ngModel)]= "reservedCans" id ="reserveCans" placeholder="Enter no.of cans" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" required><br><br>
<input type = "submit" value = "Submit" class="btn btn-success">&nbsp;
<input type = "button" value = "Back"(click)="back()" class="btn btn-danger"><br>
</form>
</body>