<body>
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card card-signin my-5">
                <div class="card-body">
                  <h5 class="card-title text-center">Register  Here</h5>
                  <form class="mx-auto formstyle" (submit)="register()" ngNativeValidate style="font: message-box;opacity: 0.8;border-radius: 10px;background-color: black;color: white;padding:0 20px;">                  <div class="form-label-group">
                        <label for="inputName">Name </label>
                         <input type="text" [(ngModel)]= "name" id="name" name="userName" pattern="[A-Za-z ]{1,20}$" title="Enter only alphabets and less than 20 letter" class="form-control" placeholder="Name" required autofocus>
                                         </div>
                    <div class="form-label-group">
                     <label for="inputName">Email Id </label>
                      <input type="email" [(ngModel)]= "email" id="email" name="userEmail" class="form-control" placeholder="Email id" required autofocus>
                    </div>
                    <div class="form-label-group">
                            <label for="inputName">Address</label>
                             <input type="text" [(ngModel)]= "address" id="address" name="userAddress" class="form-control" placeholder="Address" required autofocus>
                           </div>
                    <div class="form-label-group">
                     <label for="inputPassword">Password</label>
                      <input type="password" [(ngModel)]= "password" id="inputPassword" pattern="(?=[a-zA-Z0-9#@$?]{8,}$)(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[0-9]).*"
                      title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" name="userPassword" class="form-control" placeholder="Password" required>
                    </div>
                     &nbsp;
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                    <hr class="my-4">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </body>
