<div id="id"></div>
<body style="text-align:center" font-color="red">
<form (submit)="reserveCans()" ngNativeValidate>
        &nbsp;
        <h1>Order Reserved Cans</h1><br>
        <a href='viewstock'>View Available Stock</a><br>
        Please Enter Your Reserve ID:
   <input type = "number" min="1" [(ngModel)]="reserveId"  name = "reserveId" id ="reserveId" min="1" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==3) return false;" required><br><br>
<input type = "submit" value = "Submit" class="btn btn-success">&nbsp;
<input type = "button" value = "Back"(click)="back()" class="btn btn-danger"><br>
</form>
</body>
