&nbsp;

<body style="text-align:center">
                <div class="row justify-content-center" style="margin: 0;">
                        <div class="col-md-4 text-center">
                                <div class="card text-center mb-4" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Availability Stock</h5>
                                        <p class="card-text">To Check Available Cans</p>
                                        <a href="adminviewstock" class="btn btn-primary">View</a>
                                    </div>
                                </div>
                            </div>
                    <div class="col-md-4 text-center">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Add Stock</h5>
                                <p class="card-text">To Update Your Cans</p>
                                <a href="updatestock" class="btn btn-primary">Update Cans</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">View Users</h5>
                                <p class="card-text">List of Users</p>
                                <a href="viewusers" class="btn btn-primary">View Users</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">View Order Cans</h5>
                                <p class="card-text">List of Ordered Cans</p>
                                <a href="vieworder" class="btn btn-primary">View Ordered Cans</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">View Reserved Cans</h5>
                                <p class="card-text">List of Reserved Cans</p>
                                <a href="viewreserve" class="btn btn-primary">View Reserved Cans</a>
                            </div>
                        </div>
                    </div>
                </div>
            </body>