<form (submit)="updateStock()" ngNativeValidate>
        <table align="center">
        <tr><td>
                        &nbsp;
                        &nbsp;
                        <h1>Update Cans</h1>

        <label>Update Cans:</label>
        <input type="number" min="1" name="updatecans" [(ngModel)]="updateCan" id="updatecan" min="1" maxlength="4"  title="Please Enter Number of Watercans grater than or equal to 1" placeholder="Enter Cans" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" required autofocus/>
        <br/>
        <span id="updatelocation" style="color: red"></span></td></tr>
        <tr>
                <td>
                <div class="wrapper">
                <input  type="submit" value="Update"  class="btn btn-success">&nbsp;
                <button type="reset" class="btn btn-danger" value="clear">Clear</button>&nbsp;
                <input type = "button" value = "Back"(click)="back()" class="btn btn-danger"><br>
        </div>
                </td>
                </tr>
        </table>
        </form>
     
     
     