<body style="text-align:center">
    <div class="row justify-content-center" style="margin: 0;">
        <div class="col-md-4 text-center">
            <div class="card text-center mb-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Availability Stock</h5>
                    <p class="card-text">To Check Available Cans</p>
                    <a href="viewstock" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Order Cans</h5>
                    <p class="card-text">To Make Your Order</p>
                    <a href="orderCans" class="btn btn-primary">Order</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Reserve Cans</h5>
                    <p class="card-text">To Make Can Reservation</p>
                    <a href="reserveCan" class="btn btn-primary">Reserve</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Order Reserved Cans</h5>
                    <p class="card-text">To Make Can Reservation Order</p>
                    <a href="reserveOrderCan" class="btn btn-primary">ReserveOrder</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Modify Reserved Cans</h5>
                        <p class="card-text">To Modify</p>
                        <a href="modifiedReservedCan" class="btn btn-primary">Modify Reserved Cans</a>
                    </div>
                </div>
            </div>
    </div>
</body>